@import "tailwindcss";

@theme {
  --color-primary: #8556aa;
  --color-primary-50: #8556aa;
  --color-gray-light: #e0e0e0;
  --color-gray-25: #e2e2e2;
  --color-gray-50: #919191;
  --color-gray-75: #6a6a6a;
  --color-gray-950: #3d3d3d;
}
